html, body {
    background: #5a8ff4;
}

p, b {
    font-family: Inter, sans-serif;
    font-style: normal;
}

.add-to-chrome {
    font-family: "Mochiy Pop P One", sans-serif;
    font-size: 32px;
}
